notifications:
  email: false
language: C
sudo: required
branches:
  only:
    - master
script:
  - cd $TRAVIS_BUILD_DIR/test && make build_and_run
  - cd $TRAVIS_BUILD_DIR/examples/doxygen && make example
  - $TRAVIS_BUILD_DIR/.travis-deploy.sh
